
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
    position: fixed;
    padding-top: 20px;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    width: 100%; 
    z-index: 1000;
    background-color: #272727;
    display: flex;
  justify-content: center;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 20px; 
  margin: 0 10px;
}

.navMenu a.active {
    color: #fddb3a;
}

.navMenu a:hover {
  color: #fddb3a;
}



body{
    margin:0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    background-color:#272727;
    /* background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); */
    overflow-x:hidden;
}

.container{
    padding: 15px;
    padding-bottom: 400px;
    margin: 0 auto;
    max-width: 800 px;
}

.top-section{
    text-align: center;
    padding: 4rem 0;
    max-width: 800px;
    margin: 0 auto;
}

.timeline{
    position: relative;
    min-height: 150px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;

}

.line{
   position: absolute;
   z-index: 2;
   left: calc(50%);
   width: 2px;
   top: 0px;
   bottom: -50px;
   background-color: #eb7132;
}

.line:before, .line:after{
   position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgba(255, 255, 255, .07);
}

.line:after{
    bottom: 0;
}

.section{
    display: flex;
    opacity: 50;
    transform: translateY(-100px);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px, 0;
    padding: 1rem;
    align-items: center;
    min-height: 300px;

}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateY(100px);
}

.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #eb7132;
    left: 50%;
    transform: translateX(-50%);

}

.content{
    width: calc(50% - 2rem);
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}
.top-section h1 {
    font-family: 'Cardo', serif; 
    font-size: 48px; 
}



h1{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing:1px; 
}
.top-section h1{
    font: 'cardo', serif;
}

h2{
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;

}

.content p{
    margin: 20px;
      font-size: 15px;
      box-sizing: border-box;
      color: rgba(#fff, .7);
      font-weight: normal;
      line-height: 25px;
}
.image-container {
    position: relative;
    text-align: left; 
  }
  
  .image-container img {
    width: 50%;
    display: block; 
    margin-bottom: 10px; 
  }
  
  .date-overlay {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; 
    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    pointer-events: none;
  }
  
  .image-caption {
    position: relative;
    color: #fff;
    font-size: 0.9em;
    padding: 20px; 
    margin-bottom: 20px;
  }
  
  .section {
    opacity: 1;
    transform: none; 
    transition: none; 
  }


  .cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
    position: relative;
    perspective: 1000px; 
    padding: 20px 0; 
  }

   .cards__single {
    width: 23%; 
    margin: 1%; 
    background: black;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-align: center;
    transition: transform 0.6s;
    /* transform-style: preserve-3d; */
    transform-style: preserve-3d;
    position: relative;
  }
  .cards__image {
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  
  .cards__single.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
  .cards__artist {
    color: #f27b9b;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  
  .cards__front img {
    width: 100%;
    height: auto;
    margin: 0;
    height: 250px;
  }
  

  
  h2 {
    margin: 0;
    text-align: center;
  }
  
  
  .cards__front,
  .cards__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  .cards__front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }

/* spotify music player style in artists page */
  .spotify-embed {
    border-radius: 12px;
    width: 80%; 
    height: auto; 
    border: 0; 
    align-self: center; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

  
  .cards__back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .cards__back p {
    font-size: 12px;
    padding: 10px;
    align-items: center;
  }

  /* spotify music player style in music page */
  .spotify {
    width: 100%; 
    height: 352px; 
    border: 0; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
  }





  
